*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    width: 100%;
    max-width: 1280px;
}

header{
    width: 100%;
    height: 60px;
    padding: 15px 0;
    background-color: black;
    border-bottom: 3px solid #32b9cd;
}

.container {
    padding: 0 2%; 
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  


.logo h1{
    color:#32b9cd;
    font-size:1rem;
    margin-top: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu ul{
    list-style: none;
    margin-top: .5rem;
    display: flex;
}

.menu ul li{
    margin: 0 1.5rem;
}

.menu ul li a{
    color:#efb661;
    text-decoration: none;
}


.banner {
    background-image: url('./assets/img/bg-jelly-fish-para_outras_pags.png');
    padding: 100px 0;
    background-size: cover;
     height: 95vh;
}

.banner .container{
    height: 100%;
    align-items: center;
    justify-content: center;
}


.form{
    background-color: white;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    flex-direction: column;
}


.form h2{
    color:  #e6005e;
}

.form label{
    color: #e6005e;
}

.form input{
    display: flex;
    padding: 10px 8px;
    margin: 20px 0;
    flex-direction: column;
    border-bottom: 10px;
    border-radius: 10px;
    border: 2px solid #32b9cd;
    outline: none;
}


.form .container button{
    margin-top: 20px;
    width: 120px;
    color: #fff;
    background-color: #e6005e;
    padding:20px 20px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 8px -6px 22px 7px rgba(0, 0, 0, 0.25);
}


footer{
    background-color: #32b9cd;
    padding: 45px 0;
}

footer .container{
    justify-content: center;
   
}

footer .container p{
    color: white;
    margin-top: 60px;
    font-weight: bold;
    font-size: 18px;
}

